@model IEnumerable<BrickWebStore.Models.BrickWebStoreModel>

<div class="container p-3">
    <div class="row p-4">
        <div class="col-6">
            <h2 class="test-primary">Brick stores</h2>
        </div>
    </div>
    <div class="col-6 text-right">
        <a asp-controller="BrickWebStore" asp-action="Create" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i> &nbsp; Add new shop
        </a>
    </div>

    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Shop name
                    </th>
                    <th>
                        Display name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <td width="30%">@m.ShopName</td>
                        <td width="70%">@m.Address</td>
                <td class="test-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="BrickWebStore" asp-route-Id="@m.Id" asp-action="Edit" class="btn btn-primary margin mx-2">
                                    <i class="fa-solid fa-pen-to-square"></i> &nbsp;
                                </a>
                                <a asp-controller="BrickWebStore" asp-route-Id="@m.Id" asp-action="Delete" class="btn btn-danger margin mx-2">
                                    <i class="fa-solid fa-trash"></i> &nbsp;
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>There aren't any shops now'</p>
    }

</div>

